@model IEnumerable<Group3.Models.ApplicationRole>

<div class="row border-bottom py-2">
    <div class="col text-truncate">
        <strong>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</strong>
    </div>
    <div class="col text-truncate">
        <strong>@Html.DisplayNameFor(model => model.FirstOrDefault().Id)</strong>
    </div>
    <div class="col text-truncate">
        <strong>Users</strong>
    </div>
    <div class="col-2">
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col text-truncate border-end border-bottom">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col text-truncate border-end border-bottom">
            @Html.DisplayFor(modelItem => item.Id)
        </div>
        <div class="col text-truncate border-end border-bottom">
            @String.Join(", ", item.UserRoles.Select(x => x.User.UserName))
        </div>
        <div class="col-2 text-truncate border-bottom">
            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#editRoleModal" data-name="@item.Name" data-id="@item.Id">Edit</button>
            <button type="button" class="btn btn-link p-0" onclick="removeRole('@item.Id')">Delete</button>
        </div>
    </div>
}

<!--EDIT MODAL-->
<div class="modal fade" id="editRoleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editRoleForm" method="post" asp-controller="Admin" asp-action="EditRole">
                    <input type="submit" id="submitEditRoleForm" class="d-none" />
                    <input type="text" id="roleId" name="roleId" class="d-none" />
                    <label for="editRoleNameInput">Name</label>
                    <input type="text" name="roleName" id="editRoleNameInput" class="form-control custom-control-input form-control-sm rounded-0" required>
                </form>
            </div>
            <div class="modal-footer">
                <label for="submitEditRoleForm" class="btn btn-primary">Submit</label>
            </div>
        </div>
    </div>
</div>

<script>
    $('#editRoleModal').on('show.bs.modal', function (event) {
        $("#roleId").val($(event.relatedTarget).data('id'));
        $("#editRoleNameInput").val($(event.relatedTarget).data('name'));
    });

    $('#editRoleModal').on('hide.bs.modal', function (event) {
        $("#roleId").val('');
        $("#editRoleNameInput").val('');
    });

    $('#editRoleForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'), type: $(this).attr('method'), data: $(this).serialize(),
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    });

    function removeRole(id) {
        $.ajax({
            url: "Admin/RemoveRole/" + id, type: 'POST', data: null,
            success: function (result) {
                window.location.reload();
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    }
</script>